{% extends "userlayout.html" %}
{% block body %}
<body>
	<div class="header_con">
		<div class="header">
			<div class="welcome fl">欢迎来到赛汉!</div>
			<div class="fr">
				<div class="login_info fl">
					欢迎您：<em>张 山</em>
				</div>
				<div class="login_btn fl">
					<a href="{{url_for('common.login')}}">登录</a>
					<span>|</span>
					<a href="{{url_for('common.register')}}">注册</a>
				</div>
				<div class="user_link fl">
					<span>|</span>
					<a href="{{url_for('user.user_info')}}">用户中心</a>
					<span>|</span>
					<a href="{{url_for('user.user_cart')}}">我的购物车</a>
					<span>|</span>
					<a href="{{url_for('user.user_order')}}">我的订单</a>
				</div>
			</div>
		</div>		
	</div>

	<div class="search_bar clearfix">
		<a href="index.html" class="logo fl"><img src="static/images/saihan.png"></a>
		<div class="search_con fl">
			<input type="text" class="input_text fl" name="" placeholder="搜索商品">
			<input type="button" class="input_btn fr" name="" value="搜索">
		</div>
		<div class="guest_cart fr">
			<a href="{{ url_for('user.user_cart') }}" class="cart_name fl">我的购物车</a>
			<div class="goods_count fl" id="show_count">1</div>
		</div>
	</div>

	<div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部商品分类</h1>	
				<span></span>			
				<ul class="subnav">
					<li><a href="#" class="fruit">书籍</a></li>
					<li><a href="#" class="seafood">二手房</a></li>
					<li><a href="#" class="meet">手表</a></li>
					<li><a href="#" class="egg">汽车</a></li>
					<li><a href="#" class="vegetables">电脑</a></li>
					<li><a href="#" class="ice">手机</a></li>
				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href="">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机赛汉</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="breadcrumb">
		<a href="#">全部分类</a>
		<span>></span>
		<a href="#">手表</a>
		<span>></span>
		<a href="#">商品详情</a>
	</div>

	<div class="goods_detail_con clearfix">
		<div class="goods_detail_pic fl"><img src="static/images/123/p17.jpg"></div>

		<div class="goods_detail_list fr">
			<h3>{{ product.name }}</h3>
			<p>{{product.description[0:21]}}</p>
			<div class="prize_bar">
				<span class="show_pirze">¥<em>{{product.price}}</em></span>
				<!-- <span class="show_unit">单  位：1块</span> -->
			</div>
			<div class="goods_num clearfix">
				<div class="num_name fl">数 量：</div>
				<div class="num_add fl">
					<input type="text" class="num_show fl" value="1">
					<a href="javascript:;" class="add fr">+</a>
					<a href="javascript:;" class="minus fr">-</a>	
				</div> 
			</div>
			<div class="total">总价：<em>{{product.price}}元</em></div>
			<div class="operate_btn">
				<a href="{{ url_for('user.place_order') }}" class="buy_btn">立即购买</a>
				<a href="{{ url_for('user.user_cart') }}" class="add_cart" id="add_cart">加入购物车</a>				
			</div>
		</div>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>商品详情</h3>
				<ul>
					<li>
						<a href="#"><img src="static/images/123/p17.jpg"></a>
						<h4><a href="#">{{product.name}}</a></h4>
						<div class="prize">￥{{product.price}}</div>
					</li>
				<!-- 	<li>
						<a href="#"><img src="static/images/timg (1).jpg"></a>
						<h4><a href="#">保时捷</a></h4>
						<div class="prize">￥16.80</div>
					</li> -->
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<ul class="detail_tab clearfix">
				<li class="active">商品介绍</li>
				<li>评论</li>
			</ul>

			<div class="tab_content">
				<dl>
					<dt>商品详情：</dt>
					<dd>{{product.description}}</dd>
				</dl>
			</div>

		</div>
	</div>

	<div class="footer">
		<div class="foot_link">
			<a href="#">关于我们</a>
			<span>|</span>
			<a href="#">联系我们</a>
			<span>|</span>
			<a href="#">招聘人才</a>
			<span>|</span>
			<a href="#">友情链接</a>		
		</div>
		<p>CopyRight © 2016 天津赛汉科技有限公司 All Rights Reserved</p>
		<p>电话：010-****888    京ICP备*******8号</p>
	</div>
	<div class="add_jump"></div>

	<script type="text/javascript" src="static/js/jquery-1.12.2.js"></script>
	<script type="text/javascript">
		var $add_x = $('#add_cart').offset().top;
		var $add_y = $('#add_cart').offset().left;

		var $to_x = $('#show_count').offset().top;
		var $to_y = $('#show_count').offset().left;

		$(".add_jump").css({'left':$add_y+80,'top':$add_x+10,'display':'block'})
		$('#add_cart').click(function(){
			$(".add_jump").stop().animate({
				'left': $to_y+7,
				'top': $to_x+7},
				"fast", function() {
					$(".add_jump").fadeOut('fast',function(){
						$('#show_count').html(2);
					});

			});
		})
	</script>
	
</body>
{% endblock %}
