{% extends "userlayout.html" %}
{% block body %}
 <body>
	<!-- 1. 导航 -->
		<!-- 2. 横幅banner -->
		<!-- <div id="banner">
			<img src="static/images/images1/banner1.jpg">
		</div> -->
		<!-- 3. 推荐 -->
		<!-- <div id="commend">
			<a href="">
				<img src="static/images/images1/{{photo}}">
			</a>

			<a href="">
				<img src="static/images/images1/{{photo}}">
			</a>
			<a href="">
				<img src="static/images/images1/{{photo}}">
			</a>
			<a href="">
				<img src="static/images/images1/{{photo}}" class="lastImg">
			</a>
		</div> -->
		<!-- 4. 主体 -->
	<div id="container">
		<div id="main">
			<!-- 上方标题栏(工具栏)-->
			<div class="title">
				<p class="check-box">
					<input type="checkbox" name="checkAll" id="checkAll">
					全选
				</p>
				<p class="goods">商品</p>
				<p class="price">单价</p>
				<p class="count">数量</p>
				<p class="sum">小计<p>
				<p class="action">操作</p>
			</div>

			<!-- 下方商品记录-->
			<div class="content">
				{%for i in cart%}
				<div class="g-item">
					<p class="check-box">
						<input type="checkbox" name="check">
						<img src="static/images/images1/{{i['attachments']}}">
					</p>
					<p class="goods">啊啊啊</p>
					<p class="price">&yen;{{i['price']}}</p>
					<p class="count">
						<a href="javascript:void(0)" class="minus">-</a>
						<input type="text" value="1">
						<a href="javascript:void(0)" class="add">+</a>
					</p>
					<p class="sum">
						<b>&yen;188</b>
					</p>
					<p class="action">移除</p>
				</div>
				{%endfor%}
				
			{#	<div class="g-item">
					<p class="check-box">
						<input type="checkbox" name="check">
						<img src="static/images/images1/1-270x270-2109-SDK5WUW8.jpg">
					</p>
					<p class="goods">欢乐时光水果果篮</p>
					<p class="price">&yen;188</p>
					<p class="count">
						<a href="javascript:void(0)" class="minus">-</a>
						<input type="text" value="1">
						<a href="javascript:void(0)" class="add">+</a>
					</p>
					<p class="sum">
						<b>&yen;188</b>
					</p>
					<p class="action">移除</p>
				</div>
				<div class="g-item">
					<p class="check-box">
						<input type="checkbox" name="check">
						<img src="static/images/images1/1-270x270-2109-SDK5WUW8.jpg">
					</p>
					<p class="goods">欢乐时光水果果篮</p>
					<p class="price">&yen;188</p>
					<p class="count">
						<a href="javascript:void(0)" class="minus">-</a>
						<input type="text" value="1">
						<a href="javascript:void(0)" class="add">+</a>
					</p>
					<p class="sum">
						<b>&yen;188</b>
					</p>
					<p class="action">移除</p>
				</div>
				<div class="g-item">
					<p class="check-box">
						<input type="checkbox" name="check">
						<img src="static/images/images1/1-270x270-2109-SDK5WUW8.jpg">
					</p>
					<p class="goods">欢乐时光水果果篮</p>
					<p class="price">&yen;188</p>
					<p class="count">
						<a href="javascript:void(0)" class="minus">-</a>
						<input type="text" value="1">
						<a href="javascript:void(0)" class="add">+</a>
					</p>
					<p class="sum">
						<b>&yen;188</b>
					</p>
					<p class="action">移除</p>
				</div>
				#}
			</div>
		
		</div>
		<!-- 5. 底部 -->
		<div id="cart-toolbar">
			<div class="right-toolbar">
				<p class="submit-count">
					已选择<span></span>件商品
				</p>
				<p class="submit-price">
					共计 : <span></span>
				</p>
				<p class="submit-btn">去结算</p>
			</div>
		
		</div>
	
	</div>
 </body>
{% endblock %}
