{% extends "adminlayout.html" %}
{% block body %}

	<div class="search_bar clearfix">
		<a href="index.html" class="logo fl" id="shLogo"><img src="static/images/saihan1.png"></a>
		<div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;管理员中心</div>
		<div class="search_con fr">
			<input type="text" class="input_text fl" name="" placeholder="输入订单编号">
			<input type="button" class="input_btn fr" name="" value="搜索">
		</div>		
	</div>

	<div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>订单管理</h3>
			<ul>
				<li><a href="{{url_for('admin.admin_user')}}">· 已注册用户管理</a></li>
				<li><a href="{{url_for('admin.admin_order')}}"  class="active">· 全部订单管理</a></li>
				<li><a href="{{url_for('admin.admin_adver')}}">· 广告信息管理</a></li>
				<li><a href="{{url_for('admin.admin_product')}}">· 商品信息管理</a></li>
				
			</ul>
		</div>
		<div class="right_content clearfix">
				<h3 class="common_title2">全部订单</h3>
				<ul class="order_list_th w978 clearfix">
					<li class="col01" style="width: 330px;">商品名称/订单编号</li>
					<li class="col01" style="width: 80px;">交易状态</li>
					<li class="col01">购买用户</li>		
				</ul>

				<table class="order_list_table w980">
					<tbody>
						<tr>
							<td width="55%">
								<ul class="order_goods_list clearfix">
									<!-- 商品图片-->
									<li class="col01"><img src="{{order_list[0]['pro_pic']}}"></li>
									<!-- 商品名称和订单编号 -->
									<li class="col02">{{order_list[0]["pro_name"]}}<em>{{order_list[0]["order_id"]}}</em></li>	
									<!-- 订单状态 -->
									<li class="col03">{{order_list[0]["order_statu"]}}</li>
									<!-- 订单（商品价格） -->
									<li class="col04">{{order_list[0]["order_price"]}}</li>	
								</ul>
							</td>
							<!-- 订单购买者ｉｄ -->
							<td width="15%">{{order_list[0]["buyer_id"]}}</td>
							<!-- 订单卖家ｉｄ -->
							<td width="15%">{{order_list[0]["seller_id"]}}</td>
							<td width="15%"><a href="#" class="oper_btn">查看详情</a></td>
						</tr>
						<tr>
							<td width="55%">
								<ul class="order_goods_list clearfix">
									<!-- 商品图片-->				
									<li class="col01"><img src="{{order_list[1]['pro_pic']}}"></li>
									<!-- 商品名称和订单编号 -->
									<li class="col02">{{order_list[1]["pro_name"]}}<em>{{order_list[1]["order_id"]}}</em></li>
									<!-- 订单状态 -->	
									<li class="col03">{{order_list[1]["order_statu"]}}</li>
									<!-- 订单（商品价格） -->
									<li class="col04">{{order_list[1]["order_price"]}}</li>	
								</ul>
							</td>
							<!-- 订单购买者ｉｄ -->
							<td width="15%">{{order_list[1]["buyer_id"]}}</td>
							<!-- 订单卖家ｉｄ -->
							<td width="15%">{{order_list[1]["seller_id"]}}</td>
							<td width="15%"><a href="#" class="oper_btn">查看详情</a></td>
						</tr>
						<tr>
							<td width="55%">
								<ul class="order_goods_list clearfix">
									<!-- 商品图片-->					
									<li class="col01"><img src="{{order_list[2]['pro_pic']}}"></li>
									<!-- 商品名称和订单编号 -->
									<li class="col02">{{order_list[2]["pro_name"]}}<em>{{order_list[2]["order_id"]}}</em></li>
									<!-- 订单状态 -->	
									<li class="col03">{{order_list[2]["buyer_id"]}}</li>
									<!-- 订单（商品价格） -->
									<li class="col04">{{order_list[2]["seller_id"]}}</li>	
								</ul>
							</td>
							<!-- 订单购买者ｉｄ -->
							<td width="15%">{{order_list[2]["buyer_id"]}}</td>
							<!-- 订单卖家ｉｄ -->
							<td width="15%">{{order_list[2]["seller_id"]}}</td>
							<td width="15%"><a href="#" class="oper_btn">查看详情</a></td>
						</tr>
						<tr>
							<td>
							    <ul class="order_goods_list clearfix">
									<!-- 商品图片-->					
									<li class="col01"><img src="{{order_list[3]['pro_pic']}}"></li>
									<!-- 商品名称和订单编号 -->
									<li class="col02">{{order_list[3]["pro_name"]}}<em>{{order_list[3]["order_id"]}}</em></li>
									<!-- 订单状态 -->	
									<li class="col03">{{order_list[3]["buyer_id"]}}</li>
									<!-- 订单（商品价格） -->
								    <li class="col04">{{order_list[3]["seller_id"]}}</li>	
								</ul>
							</td>
							<!-- 订单购买者ｉｄ -->
							<td width="15%">{{order_list[3]["buyer_id"]}}</td>
							<!-- 订单卖家ｉｄ -->
							<td width="15%">{{order_list[3]["seller_id"]}}</td>
							<td width="15%"><a href="#" class="oper_btn">查看详情</a></td>
						</tr>
						<tr>
							<td width="55%">
								<ul class="order_goods_list clearfix">
									<!-- 商品图片-->					
									<li class="col01"><img src="{{order_list[4]['pro_pic']}}"></li>
									<!-- 商品名称和订单编号 -->
									<li class="col02">{{order_list[4]["pro_name"]}}<em>{{order_list[3]["order_id"]}}</em></li>	
									<!-- 订单状态 -->
									<li class="col03">{{order_list[3]["buyer_id"]}}</li>
									<!-- 订单（商品价格） -->
									<li class="col04">{{order_list[3]["seller_id"]}}</li>	
								</ul>
							</td>
							<!-- 订单购买者ｉｄ -->
							<td width="15%">{{order_list[3]["buyer_id"]}}</td>
							<!-- 订单卖家ｉｄ -->
							<td width="15%">{{order_list[3]["seller_id"]}}</td>
							<td width="15%"><a href="#" class="oper_btn">查看详情</a></td>
						</tr>
					</tbody>
				</table>

				<div class="pagenation">
					<a href="#"><上一页</a>
					<a href="#" class="active">1</a>
					<a href="#">2</a>
					<a href="#">3</a>
					<a href="#">4</a>
					<a href="#">5</a>
					<a href="#">下一页></a>
				</div>
		</div>
	</div>



	<div class="footer">
		<div class="foot_link">
			<a href="#">关于我们</a>
			<span>|</span>
			<a href="#">联系我们</a>
			<span>|</span>
			<a href="#">招聘人才</a>
			<span>|</span>
			<a href="#">友情链接</a>		
		</div>
		<p>CopyRight © 2018 天津赛汉科技有限公司 All Rights Reserved</p>
		<p>电话：022-****888    津ICP备*******8号</p>
	</div>
{% endblock %}