<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>商品管理中心</title>
	<link rel="stylesheet" type="text/css" href="static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="static/css/main.css">
</head>
<body>
	<div class="header_con">
		<div class="header">
			<div class="welcome fl">欢迎来到赛汉!</div>
			<div class="fr">
				<div class="login_info fl">
					欢迎您：<em>张 山</em>
				</div>
				<div class="login_btn fl">
					<a href="login.html">登录</a>
					<span>|</span>
					<a href="register.html">用户注册</a>
				</div>
				<div class="user_link fl">
					<span>|</span>
					<a href="index.html">回到主页</a>
					<span>|</span>
				</div>
			</div>
		</div>		
	</div>

	<div class="search_bar clearfix">
		<a href="index.html" class="logo fl" id="shLogo"><img src="static/images/saihan1.png"></a>
		<div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;商品管理</div>
		<div class="search_con fr">
			<input type="text" class="input_text fl" name="" placeholder="输入商品名称或编号">
			<input type="button" class="input_btn fr" name="" value="搜索">
		</div>		
	</div>

	<div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>商品管理中心</h3>
			<ul>
				<li><a href="/admin/admin_userinfo">· 已注册用户管理</a></li>
				<li><a href="/admin/admin_order" >· 全部订单管理</a></li>
				<li><a href="/admin/admin_adver">· 广告信息管理</a></li>
				<li><a href="＃" class="active">· 商品信息管理</a></li>
				
			</ul>
		</div>
		<div class="right_content clearfix">
				<h3 class="common_title2">全部商品</h3>
				<ul class="order_list_th w978 clearfix">
					<li class="col01" style="width: 330px;">商品名称／编号</li>
					<li class="col01" style="width: 80px;">商品状态</li>
					<li class="col01">商品金额</li>		
				</ul>

				<table class="order_list_table w980">
					<tbody>
						<tr>
							<td width="55%">
								<ul class="order_goods_list clearfix">					
									<li class="col01"><img src="static/images/saihan.png"></li>
									<li class="col02">CONVERSE经典黑色高帮<em>服饰鞋包</em></li>	
									<li class="col03">已成交</li>
									<li class="col04">369元</li>	
								</ul>
							</td>
							<td width="15%">状态：正常</td>
							<td width="15%">首页可见</td>
							<td width="15%"><a href="#" class="oper_btn">查看详情</a></td>
						</tr>
						<tr>
							<td>
								<ul class="order_goods_list clearfix">					
									<li class="col01"><img src="static/images/saihan.png"></li>
									<li class="col02">Haier摩卡32寸电视<em>数码家电</em></li>	
									<li class="col03">未成交</li>
									<li class="col04">1150元</li>	
								</ul>
							</td>
							<td width="15%">状态：正常</td>
							<td width="15%">首页可见</td>
							<td width="15%"><a href="#" class="oper_btn">查看详情</a></td>
						</tr>
						<tr>
							<td width="55%">
								<ul class="order_goods_list clearfix">					
									<li class="col01"><img src="static/images/saihan.png"></li>
									<li class="col02">某音爆款零食礼盒<em>食品生鲜</em></li>	
									<li class="col03">商品过期</li>
									<li class="col04">99.9元</li>	
								</ul>
							</td>
							<td width="15%">状态：正常</td>
						    <td width="15%">卖家可见</td>
						    <td width="15%"><a href="#" class="oper_btn">查看详情</a></td>
						</tr>
						<tr>
							<td>
						        <ul class="order_goods_list clearfix">					
								    <li class="col01"><img src="static/images/saihan.png"></li>
								    <li class="col02">IKEA折叠椅<em>家居家具</em></li>	
								    <li class="col03">信息违规</li>
								    <li class="col04">38.8元</li>	
							    </ul>
						    </td>
						    <td width="15%">状态：正常</td>
						    <td width="15%">卖家可见</td>
						    <td width="15%"><a href="#" class="oper_btn">查看详情</a></td>
					</tr>
					<tr>
						<td width="55%">
							<ul class="order_goods_list clearfix">					
								<li class="col01"><img src="static/images/saihan.png"></li>
								<li class="col02">CONVERSE经典黑色高帮<em>服饰鞋包</em></li>	
								<li class="col03">已成交</li>
								<li class="col04">369元</li>	
							</ul>
						</td>
						<td width="15%">状态：正常</td>
						<td width="15%">首页可见</td>
						<td width="15%"><a href="#" class="oper_btn">查看详情</a></td>
					</tr>
				</tbody>
			</table>
				<div class="pagenation">
					<a href="#"><上一页</a>
					<a href="#" class="active">1</a>
					<a href="#">2</a>
					<a href="#">3</a>
					<a href="#">4</a>
					<a href="#">5</a>
					<a href="#">下一页></a>
				</div>
		</div>
	</div>



	<div class="footer">
		<div class="foot_link">
			<a href="#">关于我们</a>
			<span>|</span>
			<a href="#">联系我们</a>
			<span>|</span>
			<a href="#">招聘人才</a>
			<span>|</span>
			<a href="#">友情链接</a>		
		</div>
		<p>CopyRight © 2018 赛汉（天津）信息技术有限公司 All Rights Reserved</p>
		<p>电话：022-****888    津ICP备*******8号</p>
	</div>
	
</body>
</html>