{% extends "adminlayout.html" %}
{% block body %}

	<div class="search_bar clearfix">
		<a href="{{ url_for('common.index') }}" class="logo fl" id="shLogo"><img src="{{url_for('static', filename='images/logo/saihan.png')}}" style="width:100%;height:100%"></a>
		<div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;管理员中心</div>
		<div class="search_con fr">
			<input type="text" class="input_text fl" name="" placeholder="输入广告名称或编号">
			<input type="button" class="input_btn fr" name="" value="搜索">
		</div>		
	</div>

	<div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>广告管理</h3>
			<ul>
				<li><a href="{{url_for('admin.admin_user')}}">· 已注册用户管理</a></li>
				<li><a href="{{url_for('admin.admin_order')}}" >· 全部订单管理</a></li>
				<li><a href="{{url_for('admin.admin_adver')}}" class="active">· 广告信息管理</a></li>
				<li><a href="{{url_for('admin.admin_product')}}">· 商品信息管理</a></li>
				
			</ul>
		</div>
		<div class="right_content clearfix">
				<h3 class="common_title2">全部广告</h3>
				<ul class="order_list_th w978 clearfix">
					<li class="col01" style="width:70px;">图片</li>
					<li class="col01" style="width:260px;">编号</li>
					<li class="col01" style="width:50px;">种类</li>
					<li class="col01" style="width:70px;">价格</li>	
				</ul>

				<table class="order_list_table w980">
					<tbody>
						<tr>
							<td width="55%">
								<ul class="order_goods_list clearfix">					
									<li class="col01"><img src="{{url_for('static', filename='images/logo/saihan.png')}}"></li>
									<li class="col02">满记甜品<em>SHAD201800010</em></li>	
									<li class="col03">餐饮</li>
									<li class="col04">118.0元／月</li>	
								</ul>
							</td>
							<td width="15%">待审核</td>
							<td width="15%">待付款</td>
							<td width="15%"><a href="#" class="oper_btn">去审核</a></td>
						</tr>
						<tr>
							<td width="55%">
								<ul class="order_goods_list clearfix">					
										<li class="col01"><img src="{{url_for('static', filename='images/logo/saihan.png')}}"></li>
										<li class="col02">安记手抓饭<em>SHAD201800008</em></li>	
										<li class="col03">餐饮</li>
										<li class="col04">11.80元／月</li>	
									</ul>
								</td>
								<td width="15%">待审核</td>
								<td width="15%">待付款</td>
								<td width="15%"><a href="#" class="oper_btn">去审核</a></td>
						</tr>
						<tr>
							<td width="55%">
								<ul class="order_goods_list clearfix">					
									<li class="col01"><img src="{{url_for('static', filename='images/logo/saihan.png')}}"></li>
									<li class="col02">大众点评<em>SHAD201800001</em></li>	
									<li class="col03">网站推广</li>
									<li class="col04">1180元／月</li>	
								</ul>
							</td>
							<td width="15%">已审核</td>
							<td width="15%">已付款</td>
							<td width="15%"><a href="#" class="oper_btn">强制删除</a></td>
						</tr>
						<tr>
							<td width="55%">
								<ul class="order_goods_list clearfix">					
									<li class="col01"><img src="{{url_for('static', filename='images/logo/saihan.png')}}"></li>
									<li class="col02">滴滴出行<em>SHAD20180000２</em></li>	
									<li class="col03">APP推广</li>
									<li class="col04">3090元／月</li>	
								</ul>
							</td>
							<td width="15%">已审核</td>
							<td width="15%">已付款</td>
							<td width="15%"><a href="#" class="oper_btn">强制删除</a></td>
						</tr>
						<tr>
							<td width="55%">
								<ul class="order_goods_list clearfix">					
									<li class="col01"><img src="{{url_for('static', filename='images/logo/saihan.png')}}"></li>
									<li class="col02">满记甜品<em>SHAD201800010</em></li>	
									<li class="col03">餐饮</li>
									<li class="col04">118.0元／月</li>	
								</ul>
							</td>
							<td width="15%">待审核</td>
							<td width="15%">待付款</td>
							<td width="15%"><a href="#" class="oper_btn">去审核</a></td>
						</tr>
					</tbody>
				</table>

				<div class="pagenation">
					<a href="#"><上一页</a>
					<a href="#" class="active">1</a>
					<a href="#">2</a>
					<a href="#">3</a>
					<a href="#">4</a>
					<a href="#">5</a>
					<a href="#">下一页></a>
				</div>
		</div>
	</div>



	<div class="footer">
		<div class="foot_link">
			<a href="#">关于我们</a>
			<span>|</span>
			<a href="#">联系我们</a>
			<span>|</span>
			<a href="#">招聘人才</a>
			<span>|</span>
			<a href="#">友情链接</a>		
		</div>
		<p>CopyRight © 2018 天津赛汉科技有限公司 All Rights Reserved</p>
		<p>电话：022-****888    津ICP备*******8号</p>
	</div>
{% endblock %}
