<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>用户管理中心</title>
	<link rel="stylesheet" type="text/css" href="static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="static/css/main.css">
</head>
<body>
	<div class="header_con">
		<div class="header">
			<div class="welcome fl">欢迎来到赛汉!</div>
			<div class="fr">
				<div class="login_info fl">
					欢迎您：<em>张 山</em>
				</div>
				<div class="login_btn fl">
					<a href="login.html">登录</a>
					<span>|</span>
					<a href="register.html">用户注册</a>
				</div>
				<div class="user_link fl">
					<span>|</span>
					<a href="user_center_info.html">用户中心</a>
					<span>|</span>
				</div>
			</div>
		</div>		
	</div>

	<div class="search_bar clearfix">
		<a href="index.html" class="logo fl" id="shLogo"><img src="static/images/saihan1.png"></a>
		<div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;综合管理</div>
		<div class="search_con fr">
			<input type="text" class="input_text fl" name="" placeholder="查找信息">
			<input type="button" class="input_btn fr" name="" value="搜索">
		</div>		
	</div>

	<div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>管理中心</h3>
			<ul>
				<li><a href="#" class="active">· 已注册用户管理</a></li>
				<li><a href="/admin/admin_order" >· 全部订单管理</a></li>
				<li><a href="/admin/admin_adver">· 广告信息管理</a></li>
				<li><a href="/admin/admin_productinfo">· 商品信息管理</a></li>
				
			</ul>
		</div>
		<div class="right_content clearfix">
				<h3 class="common_title2">全部用户</h3>
				<ul class="order_list_th w978 clearfix">
					<li class="col01" style="width:80px;">头像</li>
					<li class="col01" style="width:245px;">用户名</li>
					<li class="col01" style="width:50px">类别</li>	
					<li class="col01" style="width:105px;">是否实名</li>
					<li class="col01" style="width:130px;">手机号码</li>
					<li class="col01" style="width:80px;">地址</li>
				</ul>
				<table class="order_list_table w980">
					<tbody>
						<tr>
							<td width="55%">
								<ul class="order_goods_list clearfix">			
									<li class="col01"><img src="{{u_list[0]['user_pic']}}"></li>
									<li class="col02">{{u_list[0]["user_name"]}}</li>	
									<li class="col03">{{u_list[0]["user_type"]}}</li>
									<li class="col04">{{u_list[0]["check"]}}</li>	
								</ul>
							</td>
							<td width="15%">{{u_list[0]["phone_number"]}}</td>
							<td width="15%">{{u_list[0]["addr"]}}</td>
							<td width="15%"><a href="#" class="oper_btn">查看信息</a></td>
						</tr>
						<tr>
							<td width="55%">
								<ul class="order_goods_list clearfix">					
									<li class="col01"><img src="{{u_list[1]['user_pic']}}"></li>
									<li class="col02">{{u_list[1]["user_name"]}}</li>	
									<li class="col03">{{u_list[1]["user_type"]}}</li>
									<li class="col04">{{u_list[1]["check"]}}</li>	
								</ul>
							</td>
							<td width="15%">{{u_list[1]["phone_number"]}}</td>
							<td width="15%">{{u_list[1]["addr"]}}</td>
							<td width="15%"><a href="#" class="oper_btn">查看信息</a></td>
						</tr>
						<tr>
							<td width="55%">
								<ul class="order_goods_list clearfix">					
									<li class="col01"><img src="{{u_list[2]['user_pic']}}"></li>
									<li class="col02">{{u_list[2]["user_name"]}}</li>	
									<li class="col03">{{u_list[2]["user_type"]}}</li>
									<li class="col04">{{u_list[2]["check"]}}</li>	
								</ul>
							</td>
							<td width="15%">{{u_list[2]["phone_number"]}}</td>
							<td width="15%">{{u_list[2]["addr"]}}</td>
							<td width="15%"><a href="#" class="oper_btn">查看信息</a></td>
						</tr>
						<tr>
							<td width="55%">
								<ul class="order_goods_list clearfix">					
									<li class="col01"><img src="{{u_list[3]['user_pic']}}"></li>
									<li class="col02">{{u_list[3]["user_name"]}}</li>	
									<li class="col03">{{u_list[3]["user_type"]}}</li>
									<li class="col04">{{u_list[3]["check"]}}</li>	
								</ul>
							</td>
							<td width="15%">{{u_list[3]["phone_number"]}}</td>
							<td width="15%">{{u_list[3]["addr"]}}</td>
							<td width="15%"><a href="#" class="oper_btn">查看信息</a></td>
						</tr>
						<tr>
							<td width="55%">
								<ul class="order_goods_list clearfix">					
									<li class="col01"><img src="{{u_list[4]['user_pic']}}"></li>
									<li class="col02">{{u_list[4]["user_name"]}}</li>	
									<li class="col03">{{u_list[4]["user_type"]}}</li>
									<li class="col04">{{u_list[4]["check"]}}</li>	
								</ul>
							</td>
							<td width="15%">{{u_list[4]["phone_number"]}}</td>
							<td width="15%">{{u_list[4]["addr"]}}</td>
							<td width="15%"><a href="#" class="oper_btn">查看信息</a></td>
						</tr>
					</tbody>
				</table>
				<div class="pagenation">
					<a href="#"><上一页</a>
					<a href="#" class="active">1</a>
					<a href="#">2</a>
					<a href="#">3</a>
					<a href="#">4</a>
					<a href="#">5</a>
					<a href="#">下一页></a>
				</div>
		</div>
	</div>



	<div class="footer">
		<div class="foot_link">
			<a href="#">关于我们</a>
			<span>|</span>
			<a href="#">联系我们</a>
			<span>|</span>
			<a href="#">招聘人才</a>
			<span>|</span>
			<a href="#">友情链接</a>		
		</div>
		<p>CopyRight © 2018 天津赛汉科技有限公司 All Rights Reserved</p>
		<p>电话：022-****888    津ICP备*******8号</p>
	</div>
	
</body>
</html>