<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>赛汉-专注二手商品</title>
	<link rel="stylesheet" type="text/css" href="static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="static/css/main.css">
	<link rel="shortcut icon" href="static/天天生鲜项目界面/123.jpg" type="image/x-icon">
	<script type="text/javascript" src="static/js/seller_items.js"></script>
</head>
<body>
	<div class="header_con">
		<div class="header">
			<div class="welcome fl">欢迎来到赛汉!</div>
			<div class="fr">
				<div class="login_info fl">
					欢迎您：<em>张 山</em>
				</div>
				<div class="login_btn fl">
					<a href="login.html">登录</a>
					<span>|</span>
					<a href="register.html">注册</a>
				</div>
				<div class="user_link fl">
					<span>|</span>
					<a href="user_center_info.html">商家中心</a>
					<!-- <span>|</span>
					<a href="cart.html">我的购物车</a> -->
					<span>|</span>
					<a href="user_center_order.html">我的订单</a>
				</div>
			</div>
		</div>		
	</div>

	<div class="search_bar clearfix">
		<!-- <a href="index.html" class="logo fl"><img src="1234.jpg"></a> -->
		<div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;商家中心</div>
		<div class="search_con fr">
			<input type="text" class="input_text fl" name="" placeholder="搜索商品">
			<input type="button" class="input_btn fr" name="" value="搜索">
		</div>		
	</div>

	<div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>商家中心</h3>
			<ul>
				<li><a href="items" class="active">· 管理商品</a></li>
				<li><a href="release">· 发布商品</a></li>
				<li><a href="order">· 管理订单</a></li>
			</ul>
		</div>
		<div class="right_content clearfix">
				<div class="info_con clearfix">
				<h3 class="common_title2">账户信息</h3>
						<ul class="user_info_list">
							<li><span>登录名：</span>18210569700</li>
							<li><span>联系方式：</span>18210569700</li>	
							<li><span>用户角色：</span>商家</li>	
						</ul>
				</div>
				
				<h3 class="common_title2">商品操作</h3>
				
				<table id="cartTable">
						<thead>
						<tr>
						<th><label><input class="check-all check" type="checkbox"/> 全选</label></th>
						<th>商品</th>
						<th>单价</th>
						<th>总价</th>
						
						<th>操作</th>
						</tr>
						<tbody>
						{%for user in users%}
						<tr>
						<td class="checkbox"><input class="check-one check" type="checkbox" /></td>
						<td class="goods"><img src="{{user['photo']}}" alt="" /><span>{{user['name']}}</span></td>
						<td class="price">{{ user['price']}}</td>
						<!-- <td class="count"><span class="reduce">-</span><input class="count-input" type="text" value="1"/><span class="add">+</span></td> -->
						<td class="subtotal">{{user['heji']}}</td>
						<td class="operation"><span class="delete">{{user['use']}}</span></td>
						</tr>
						{% endfor %}
						<!-- <tr>
						<td class="checkbox"><input class="check-one check" type="checkbox" /></td>
						<td class="goods"><img src="static/天天生鲜项目界面/images/2.jpg" alt="" /><span>Canon/佳能 PowerShot SX50 HS</span></td>
						<td class="price">3888.50</td> -->
						<!-- <td class="count"><span class="reduce">-</span><input class="count-input" type="text" value="1"/><span class="add">+</span></td> -->
						<!-- <td class="subtotal">3888.50</td>
						<td class="operation"><span class="delete">删除</span></td>
						</tr>
						<tr>
						<td class="checkbox"><input class="check-one check" type="checkbox" /></td>
						<td class="goods"><img src="static/天天生鲜项目界面/images/3.jpg" alt="" /><span>Sony/索尼 DSC-WX300</span></td>
						<td class="price">1428.50</td> -->
						<!-- <td class="count"><span class="reduce">-</span><input class="count-input" type="text" value="1"/><span class="add">+</span></td> -->
						<!-- <td class="subtotal">1428.50</td>
						<td class="operation"><span class="delete">删除</span></td>
						</tr>
						<tr>
						<td class="checkbox"><input class="check-one check" type="checkbox" /></td>
						<td class="goods"><img src="static/天天生鲜项目界面/images/4.jpg" alt="" /><span>Fujifilm/富士 instax mini 25</span></td>
						<td class="price">640.60</td> -->
						<!-- <td class="count"><span class="reduce">-</span><input class="count-input" type="text" value="1"/><span class="add">+</span></td> -->
						<!-- <td class="subtotal">640.60</td>
						<td class="operation"><span class="delete">删除</span></td> -->
						</tr>
						</tbody>
					   </table>
					   <div class="foot" id="foot">
						<label class=" fl select-all"><input type="checkbox" class="check-all check" /> 全选</label>
						<a class="fl delete" id="deleteAll" href="javascript:;" rel="external nofollow" >删除</a>
						<div class="fr closing">结 算</div>
						<div class="fr total">合计：￥<span id="priceTotal">0.00</span></div>
						<div class="fr select" id="selected">已选商品<span id="selectedTotal">0</span>件<span class="arrow up">︽</span><span class="arrow down">︾</span></div>
						<div class="selected-view">
						<div id="selectedViewList" class="clearfix">
						<div><img src="images/1.jpg"><span>取消选择</span></div>
						</div>
						<span class="arrow">◆<span>◆</span></span>
						</div>
					   </div>
				


	<div class="footer">
		<div class="foot_link">
			<a href="#">关于我们</a>
			<span>|</span>
			<a href="#">联系我们</a>
			<span>|</span>
			<a href="#">招聘人才</a>
			<span>|</span>
			<a href="#">友情链接</a>		
		</div>
		<p>CopyRight © 2016 All Rights Reserved</p>
		<p>电话：010-****888    京ICP备*******8号</p>
	</div>
	
</body>
</html>