<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<!-- <link type="text/css" rel="stylesheet" href="./static/customers.css"> -->
		<link type="text/css" rel="stylesheet" href="../static/main.css">
		<!-- <link type="text/css" rel="stylesheet" href="./item.css"> -->
	</head>
	<body>
		<div class="head">
			这是头部
		</div>
		<div class="main">
			<!-- 横幅 -->
			<div class="banner-wrap">
				<div class="main-wrap"></div>
				<!-- 导航栏 -->
				<div class="navbar-wrap">
					<!-- 图片logo -->
					<img src="" class="logo">
					<!-- 显示当前位置，登录状态 -->
					<div class="tab-wrap"></div>
				</div>
			</div>

			<!-- 分类栏 -->
			<div class="tabbar">  
				<div class="item">
					<p class="name-active">分类</p>
				</div>  
				<div class="item">
					<p class="name">分类</p>
				</div>  
				<div class="item">
					<p class="name">分类</p>
				</div>  
				<div class="item">
					<p class="name">分类</p>
				</div>  
				<div class="item">
					<p class="name">分类</p>
				</div>  
				<div class="item">
					<p class="name">分类</p>
				</div>  
				<div class="item">
					<p class="name">分类</p>
				</div>  
				<div class="item">
					<p class="name">分类</p>
				</div>  
				<div class="item">
					<p class="name">分类</p>
				</div>  
				<div class="item">
					<p class="name">分类</p>
				</div>  
				<div class="item">
					<p class="name">分类</p>
				</div>  
				<div class="item">
					<p class="name">分类</p>
				</div>
			</div>

			<!-- 商品列表 -->
			<div class="item-list">
				<div class="item-list-wrap">
					{% for i in range(20) %}
					<a href="" class="item-wrap">
						<div class="item-img" style="background-image: url({{images[i]}})"></div>
						<div class="item-info">
							<p class="item-title">{{titles[i]}}</p>
							<div class="price-line">
								<p class="price-unit">￥</p>
								<p class="price-value">{{prices[i]}}</p>
							</div>
						</div>
						<div class="user-line">
							<div class="user-info">
								<img src="{{icons[i]}}" class="usericon">
								<p class="user-name">{{users[i]}}</p>
								<img src="../static/level0.png" class=user-tag>
							</div>
						</div>
					</a>
					{% endfor %}
					
				</div>
			</div>

			<!-- 分页跳转栏 -->
			<div class="pagination">
				<div class="el-pagination">
					<button type="button" class="button-prev">&lt;</button>
					<ul class="el-pager">
						<li class="number active">1</li>
						<!---->
						<li class="number">2</li>
						<li class="number">3</li>
						<li class="number">4</li>
						<li class="number">5</li>
						<li class="number">6</li>
						<li class="el-icon more btn-quicknext el-icon-more"></li>
						<li class="number">100</li>
					</ul>
					<button type="button" class="button-next">&gt;</button>
				</div>
			</div>

			<!-- 广告栏 -->
			<div class="advertisement" style="background-image: url('../static/advertisement.jpeg')"></div>
		</div>
		<div class="footer">
			这是脚部
		</div>
	</body>
</html>	
