{% extends 'layout.html' %}
{% block body %}

	<div class="search_bar clearfix">
		<a href="{{url_for('common.index')}}" class="logo fl"><img src="{{ url_for('static', filename='images/logo/saihan.png') }}" style="width: 100%; height:100%"
		></a>
		<div class="search_con fl">
			<input type="text" class="input_text fl" name="" placeholder="搜索商品">
			<input type="button" class="input_btn fr" name="" value="搜索">
		</div>
	</div>
	
	<div class="navbar_con">
		<div class="navbar">
			<h1 class="fl">全部商品分类</h1>
			<ul class="navlist fl">
				<li><a href="">首页</a></li>
				<!-- <li class="interval">|</li> -->
			</ul>
		</div>
	</div>

	<div class="center_con clearfix">
		<ul class="subnav fl">
			<li><a href="#model01" class="fruit">书籍</a></li>
			<li><a href="#model02" class="seafood">二手房</a></li>
			<li><a href="#model03" class="meet">手表</a></li>
			<li><a href="#model04" class="egg">汽车</a></li>
			<li><a href="#model05" class="vegetables">电脑</a></li>
			<li><a href="#model06" class="ice">手机</a></li>
		</ul>
		<div class="slide fl">
			<ul class="slide_pics">
				<li><img style="width:100%;height:100%" src="{{url_for('static', filename='images/banner/111.jpg')}}" alt="幻灯片"></li>
				<li><img src="{{url_for('static', filename='images/banner/222.jpg')}}" alt="幻灯片"></li>
			</ul>
			<div class="prev"></div>
			<div class="next"></div>
			<ul class="points"></ul>
		</div>
		<div class="adv fl">
			<a href="#"><img src="{{url_for('static', filename='images/banner/p10.jpg')}}"></a>
			<a href="#"><img src="{{url_for('static', filename='images/banner/p10.jpg')}}"></a>
		</div>
	</div>

	<!-- 商品列表 -->
	<div class="list_model" style="height:auto; background: #f5f5f5;">
		<div class="list_title clearfix" style="height:0;margin-bottom: 20px;">

		</div>

		<div class="item-list">
			<div class="item-list-wrap">
				<!-- 循环获取商品 -->
				{% for product in products %}
				<a href="{{ url_for('user.detail', product_id=product.id) }}" class="item-wrap">
					<div class="item-img" style="background-image: url({{ url_for('static', filename='images/products/'+product.attachments[0].filename) }})"></div>
					<div class="item-info">
						<p class="item-title">{{product.name}}</p>
						<p class=""></p>
						<div class="price-line">
							<p class="price-unit">￥</p>
							<p class="price-value">{{product.price}}</p>
						</div>
					</div>
					<div class="user-line">
						<div class="user-info">
							<img src="{{url_for('static', filename='images/usericon/'+product.seller.avatar)}}" class="usericon">
							<p class="user-name">{{product.seller.nickname}}</p>
							<img src="{{url_for('static', filename='images/usertag/level0.png')}}" class='user-tag'>
						</div>
					</div>
				</a>
				{% endfor %}

			</div>
		</div>
	</div>
{% endblock %}
