{% extends 'layout.html' %}
{% block body %}

	<div class="search_bar clearfix">
		<a href="{{url_for('common.index')}}" class="logo fl"><img src="{{ url_for('static', filename='images/logo/saihan.png') }}" style="width: 100%; height:100%"
		></a>
		<div class="search_con fl">
			<input type="text" class="input_text fl" name="" placeholder="搜索商品">
			<input type="button" class="input_btn fr" name="" value="搜索">
		</div>
	</div>
	
	<div class="navbar_con">
		<div class="navbar">
			<h1 class="fl">全部商品分类</h1>
			<ul class="navlist fl">
				<li><a href="">首页</a></li>
				<!-- <li class="interval">|</li> -->
			</ul>
		</div>
	</div>

	<div class="center_con clearfix">
		<ul class="subnav fl">
			<li><a href="#model01" class="fruit">书籍</a></li>
			<li><a href="#model02" class="seafood">二手房</a></li>
			<li><a href="#model03" class="meet">手表</a></li>
			<li><a href="#model04" class="egg">汽车</a></li>
			<li><a href="#model05" class="vegetables">电脑</a></li>
			<li><a href="#model06" class="ice">手机</a></li>
		</ul>
		<div class="slide fl">
			<ul class="slide_pics">
				<li><img src="{{url_for('static', filename='images/banner/001.jpg')}}" alt="幻灯片"></li>
				<li><img src="{{url_for('static', filename='images/banner/002.jpg')}}" alt="幻灯片"></li>
				<li><img src="{{url_for('static', filename='images/banner/003.jpg')}}" alt="幻灯片"></li>
				<li><img src="{{url_for('static', filename='images/banner/004.jpg')}}" alt="幻灯片"></li>
			</ul>
			<div class="prev"></div>
			<div class="next"></div>
			<ul class="points"></ul>
		</div>
		        <div class="adv fl" style="box-sizing:border-box; background-color: white; text-align: center;    border-bottom: 1px solid #eee; border-right: 1px solid #eee;">
				{% if current_user.is_authenticated %}
					<a href="#" style="width: 100%; height: 55%;padding:20px 0 10px;"><img src='{{ url_for("static", filename="images/usericon/"+user.profile[0].avatar) }}' style="width:135px;height:135px;border-radius: 50%;margin:0 auto;"></a>
					<div class="login_info fl" style="display:block;box-sizing:border-box;width:100%;height:15%;line-height:40px;text-align: center;">
		            欢迎来到赛汉：<em>{{ user.profile[0].nickname }}</em>
		            </div>
		            <div class="login_info fl" style="display:block;box-sizing:border-box;width:100%;height:15%;text-align: center;">
		            用户类型：<em>{{ user_type[user.type] }}</em>
		        	</div>
            	{% else %}
                	<a href="{{url_for('common.login')}}" style="width: 100%; height: 55%;padding:20px 0 10px;font-size:24px;line-height: 178px;">请登录</a>
            	{% endif %}
                </div>
		
	</div>

	<!-- 商品列表 -->
	<div class="list_model" style="height:auto; background: #f5f5f5;">
		<div class="list_title clearfix" style="height:0;margin-bottom: 20px;">

		</div>

		<div class="item-list">
			<div class="item-list-wrap">
				<!-- 循环获取商品 -->
				{% for product in products %}
				<a href="{{ url_for('user.detail', product_id=product.id) }}" class="item-wrap">
					<div class="item-img" style="background-image: url({{ url_for('static', filename='images/products/'+product.attachments[0].filename) }})"></div>
					<div class="item-info">
						<p class="item-title">{{product.name}}</p>
						<p class=""></p>
						<div class="price-line">
							<p class="price-unit">￥</p>
							<p class="price-value">{{product.price}}</p>
						</div>
					</div>
					<div class="user-line">
						<div class="user-info">
							<img src="{{url_for('static', filename='images/usericon/'+product.seller.avatar)}}" class="usericon">
							<p class="user-name">{{product.seller.nickname}}</p>
							<img src="{{url_for('static', filename='images/usertag/level0.png')}}" class='user-tag'>
						</div>
					</div>
				</a>
				{% endfor %}

			</div>
		</div>
	</div>
{% endblock %}
