{% from 'macros.html' import import_css, import_js, top_nav, footer %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    {{  import_css(['common.css', 'reset.css', 'plist.css']) }}
    {{  import_js(['jquery-1.12.4.min.js', 'jquery-ui.min.js', 'slide.js', 'cart.js', 'register.js', 'seller_items.js']) }}
    <title>赛汉-专注二手商品</title>
</head>
<body>
{{ top_nav(current_user) }}

{% block body %}
{% endblock %}

{{ footer() }}
</body>
</html>